# Auto detect text files and perform LF normalization
* text=auto

*.wlt linguist-vendored
*.mat linguist-vendored
*.meta linguist-vendored
*.shader linguist-vendored
*.cginc linguist-vendored
*.hlsl linguist-vendored
*.compute linguist-vendored